Repository OpenRailwayMap/OpenRailwayMap, pull requests merged in 2023-02, with the labels that each got.

#819 CI: fix warnings and errors
  .github/workflows/python.yml
Labels: Other

#801 rename de.xml to infrastructure.xml; adjust entries
  josm-presets/Makefile
  josm-presets/infrastructure.xml
Labels: JOSM Preset

#804 Add ZSI 127 to legend
  styles/signals.json
  styles/signals.mapcss
Labels: Rendering, Legend

#823 validator: treat railway=platform and railway=platform_edge the same
  validator/openrailwaymap.validator.mapcss
Labels: Validator
